{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
            <hr/>
        </div>
    {% endfor %}
{% endblock %}






            <!-- len = 100 
                if post.text.length < 100 len = post.text.length
                post.text[0:len]|linebreaksbr
                
            <hr height="10px" color="black"/>
            <hr style="
                top: 10px;
                border: none;
                height: 1px;
                background: #ff9400;
                margin-bottom: 20px;
                opacity: 50%;
                "
            />
            -->
